.accordion {
  margin-bottom: 1rem;
  padding: 0 2.5rem;
}

.accordionHeader {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid;
}

.accordionIcon {
  font-size: 1.2rem;
}

.accordionContent {
  padding: 1rem;
  border: 1px solid #f5f5f5;
  border-top: none;
}

@media(min-width: 759px) and (max-width: 1119px) {
  .accordionHeader {
    justify-content: space-between;
    gap: 10rem;
  }
}

@media(min-width: 1200px) {
  .accordion {
    max-width: 800px;
  }
  .accordionHeader {
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
    border-bottom: 1px solid;
  }
}