.container_benefits {
  background: linear-gradient(93deg, rgba(234,247,235,1) 0%, rgba(255,255,255,1) 75%);
}

.title {
  text-align: center;
  padding: 3rem 1rem;
  font-weight: 500;
  font-size: 2rem;
}

.benefits {
  padding: 0 2.5rem 1rem 2.5rem;
}

.benefits_title {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.benefits span {
  color: #3e5e3f;
  font-size: 1.3rem;
  font-weight: 500;
}

.benefits_description {
  margin-left: 3rem;
  font-size: .9rem;
}

.container_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.premium {
  margin-top: 1rem;
  padding: 1rem 4rem;
  border: none;
  border-radius: .5rem;
  color: #fff;
  background-color: #3e5e3f;
}

.container_benefits_desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  gap: 4rem;
}

.description {
  width: 350px;
  font-size: .9rem;
  padding-left: 3rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button{
  padding: 1rem 4rem;
  border: none;
  border-radius: .5rem;
  color: #fff;
  background-color: #3e5e3f;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.button button:hover {
  background-color: #597d5a;
} 

.img {
  width: 32px;
}

.column {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media(min-width: 360px) and (max-width: 759px) {
  .noneDesktop {
    display: none;
  }
}

@media(min-width: 760px) and (max-width: 1199px) {
  .noneMobile {
    display: none;
  }
  .title {
    font-size: 2rem;
  }
  .container_benefits_desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    gap: .5rem;
  }
  .benefits {
    padding: 1rem;
  }
  .benefits span {
    margin-left: .5rem;
  }
}

@media(min-width: 1200px) {
  .container {
    position: relative;
    overflow-x: clip;
  }
  .title {
    padding: 4rem 2rem;
  }
  .noneMobile {
    display: none;
  }
  .container_benefits_desktop {
    gap: 2rem;
  }
  .container_benefits_desktop {
    margin-top: 0px;
  }
  .rounded_primary_rectangle {
    border-radius: 60px;
    width: 345px;
    height: 300px;
    background-color: transparent;
    border: 1px solid #3e5e3f;
    rotate: 30deg;
    position: absolute;
    left: -198px;
    top: 550px;
  }
  .rounded_second_rectangle {
    border-radius: 64px;
    width: 200px;
    height: 296px;
    background-color: #fff;
    rotate: 122deg;
    position: absolute;
    right: -190px;
    top: 200px;
  }
}