.brokersWrapper {
  height: 580px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* -webkit-overflow-scrolling: touch; */
  scroll-padding: 0 20%;
}

.container_broker {
  scroll-snap-align: center;
  height: 530px;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #eae6e6;
  border-radius: 1rem;
  box-shadow: #F0F0F0 6px 6px 6px;
  padding: 2rem;
  margin-left: 2rem
}

.container_broker img {
  width: 250px;
  height: 250px;
  border-radius: .5rem;
}

.title {
  text-align: center;
  padding: 3rem 2rem;
  font-weight: bold;
}

.broker_name {
  font-size: 1.5rem;
  color: #3e5e3f;
  font-weight: 500;
  padding-right: 2.4rem;
  margin-bottom: .5rem;
  font-size: .9rem;
}

.profession {
  padding-right: 6rem;
  font-size: .9rem;
}

.broker_text {
  width: 255px;
  height: 100px;
  margin-top: 1.5rem;
  font-size: .9rem;
}

.link {
  display: flex;
  padding-right: 5rem;
  gap: 1rem;
  color: #3e5e3f;
  text-decoration: none;
}

.link:hover {
  color: #3e5e3f;
}

.link span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link a {
  text-decoration: none;
}

.link img {
  width: 32px;
  height: 32px;
}

@media(min-width: 767px) {
  .title {
    padding: 3rem 31rem;
    font-size: 2rem;
    font-weight: 600;
  }
  .brokersWrapper {
    justify-content: center;
    gap: 1rem;
  }
  .container_broker {
    margin-left: 0px;
  }
}