.container_footer {
  height: 330px;
  margin-top: 4rem;
  background-color: #f5f4f4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow-y: clip;
  position: relative;
  gap: 1rem;
}

.info_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container_img img {
  width: 100px;
  height: 100px;
}

.info {
  font-size: .8rem;
  text-align: left;
}

.info p {
  margin-bottom: 0px;
}

.telephone {
  margin-left: 2rem;
  padding-bottom: 1rem;
  font-weight: 600;
}

.container_address {
  display: flex;
}

.address {
  margin-left: 1rem;
}

.container_email {
  display: flex;
  align-items: center;
  margin-top: .5rem;
}

.email {
  margin-left: 1rem;
}

.nets {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: -12px;
}

.img {
  width: 24px !important;
  height: 24px !important;
}

.none {
  display: none;
}

@media(min-width: 759px) and (max-width: 1119px) {
  .container_footer {
    display: flex;
    flex-direction: row;
  }
  .info_footer {
    display: flex;
    flex-direction: row;
    gap: 10rem;
  }
  .container_img img  {
    width: 80px;
    height: 80px;
  }
  .container_address {
    display: flex;
    margin-bottom: .5rem;
  }
  .address {
    margin-left: .2rem;
  }
  .container_email {
    display: flex;
    align-items: center;
  }
  .email {
    margin-left: .2rem;
    padding-top: 0px;
  }
  .nets {
    display: flex;
    align-items: center;
    justify-content: initial;
    gap: 2rem;
    margin-top: .5rem;
  }
  .img {
    width: 24px;
  }
}

@media(min-width: 1200px) {
  .container_footer {
    display: flex;
    flex-direction: row;
  }
  .info_footer {
    display: flex;
    flex-direction: row;
  }
  .container_img img {
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    top: 150px;
  }
  .info_footer {
    gap: 10rem;
  }
  .rounded_rectangle {
    border-radius: 32px;
    width: 190px;
    height: 290px;
    background-color: #fff;
    rotate: 212deg;
    position: relative;
    right: 64px;
    top: 90px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .nets {
    display: flex;
    align-items: center;
    justify-content: initial;
    gap: 1rem;
    margin-top: .5rem;
  }
  .img {
    width: 24px;
  }
}