.container_header {
  padding-left: .5rem;
}

.logo {
  width: 42px;
}

.customHamburger {
  width: 20px;
  height: 20px;
  border: none;
}

.me_2 {
  border: none;
}

@media(min-width: 360px) and (max-width: 759px) {
  .container_header {
   padding: 0 6rem;
  }
}