.container_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  height: 550px;
  background: linear-gradient(93deg, rgba(234,247,235,1) 0%, rgba(255,255,255,1) 100%);
  position: relative;
  overflow-x: clip;
}

.container_home_title {
  text-align: center;
  padding-top: 3rem;
  font-weight: 500;
  font-size: 2rem;
  color: #282828;
}

.container_home button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: .5rem;
  color: #fff;
  background-color: #3e5e3f;
  width: 323px;
}

.container_home button:hover {
  background-color: #597d5a;
}

.rounded_rectangle {
  border-radius: 32px;
  width: 200px;
  height: 296px;
  background-color: #fff;
  rotate: 122deg;
  position: absolute;
  left: -180px;
  top: 200px;
}
.rounded_primary_rectangle {
  border-radius: 60px;
  width: 300px;
  height: 296px;
  background-color: transparent;
  border: 1px solid #3e5e3f;
  rotate: 122deg;
  position: absolute;
  right: -260px;
  top: 300px;
}

.container_home img {
  width: 200px;
  height: 200px;
}

.arrow {
  position: relative;
  top: 220px;
}

@media(min-width: 759px) and (max-width: 1119px) {
  .container {
    text-align: center;
  }
  .rounded_rectangle {
    border-radius: 32px;
    width: 200px;
    height: 296px;
    background-color: #fff;
    rotate: 122deg;
    position: absolute;
    left: -150px;
    top: 200px;
  }
  .rounded_primary_rectangle {
    border-radius: 60px;
    width: 300px;
    height: 296px;
    background-color: transparent;
    border: 1px solid #3e5e3f;
    rotate: 122deg;
    position: absolute;
    right: -200px;
    top: 300px;
  }
  .container_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .container_home_title {
    width: 400px;
    text-align: center;
    padding-top: 1.5rem;
  }
  .container_home button {
    width: 328px;
  }
  .container_home img {
    width: 250px;
    height: 250px;
  }
  .none {
    display: none;
  }
}

@media(min-width: 1200px) {
  .rounded_rectangle {
    border-radius: 32px;
    width: 200px;
    height: 296px;
    background-color: #fff;
    rotate: 122deg;
    position: absolute;
    left: -150px;
    top: 200px;
  }
  .rounded_primary_rectangle {
    border-radius: 60px;
    width: 300px;
    height: 296px;
    background-color: transparent;
    border: 1px solid #3e5e3f;
    rotate: 122deg;
    position: absolute;
    right: -200px;
    top: 380px;
  }
  .arrow {
    position: relative;
    top: 300px;
    cursor: pointer;
  }
  .container_home {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
  }
  .container_home_title {
    text-align: left;
    padding: 4rem 2rem 1rem 0rem;
    font-weight: 500;
    font-size: 2rem;
    color: #282828;
  }
  .container_home button {
    width: 335px;
  }
  .container_home img {
    width: 350px;
    height: 350px;
  }
}