.container_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  background: linear-gradient(93deg, rgba(234,247,235,1) 0%, rgba(255,255,255,1) 100%);
}

.container_home_title {
  text-align: center;
  padding: 4rem 2rem 1rem 2rem;
  font-weight: 500;
  font-size: 2rem;
  color: #282828;
}

.container_home button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: .5rem;
  color: #fff;
  background-color: #3e5e3f;
}

.rounded_rectangle {
  border-radius: 32px;
  width: 200px;
  height: 148px;
  background-color: transparent;
  border: 1px solid #3e5e3f;
  rotate: 122deg;
  position: absolute;
  left: -77px;
  top: 398px;
}

/* .rounded_second_rectangle {
  border-radius: 32px;
  width: 190px;
  height: 146px;
  background-color: #F6F6F6;
  position: absolute;
  right: -150px;
  top: 150px;
  rotate: 223deg;
} */

.arrow {
  position: relative;
  top: 258px;
}

@media(min-width: 360px) and (max-width: 759px) {
  .container_home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .container_home_title {
    width: 400px;
    text-align: left;
    margin-left: 8rem;
    margin-top: 2rem;
  }
  .container_home button {
    margin-left: 10rem;
  }
  .none {
    display: none;
  }
}