.title {
  text-align: center;
  padding: 0rem 2rem 2rem 2rem;
  font-weight: 500;
  font-size: 2rem;
}

.container_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.container_buttons button {
  width: 120px;
  background-color: gray;
  color: #fff;
  border-radius: .5rem;
  border: none;
  padding: .8rem 1rem;
}

.container_buttons button:hover {
  background-color: #979090;
}

.active {
  width: 120px;
  background-color: #3e5e3f !important;
  color: #fff;
  border-radius: .5rem;
  border: none;
  padding: .8rem 1rem;
}

.active:hover {
  background-color: #597d5a !important;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-bottom: 1rem;
}

.container_free {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 780px;
  border: 1px solid #e9e6e6;
  border-radius: .5rem;
}

.container_premium_anual {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 790px;
  border: 1px solid #e9e6e6;
  border-radius: .5rem;
  position: relative;
}

.container_premium_trimestral {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 840px;
  border: 1px solid #e9e6e6;
  border-radius: .5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position:relative;
}

.container_premium_anual::before {
  background-image: url('../../public/anual.png');
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  z-index: 2;
  right:-18px;
  top: 10px;
  width: 90px;
  height: 80px;
}

.container_premium_trimestral::before {
  background-image: url('../../public/trimestral.png');
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  z-index: 2;
  right: -18px;
  top: 10px;
  width: 90px;
  height: 80px;
}

.header_free,
.header_premium {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_free::before {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: black;
  margin-top: 1rem;
}

.header_free button:hover {
  background-color: #979090;
}

.header_premium::before {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #3e5e3f;
  margin-top: 1rem;
}

.container_advantage {
  margin-bottom: 2rem;
}

.free {
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.type {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.header_free button {
  width: 190px;
  height: 48px;
  border: none;
  border-radius: .5rem;
  background-color: gray;
  color: #FFF;
}

.header_premium button {
  width: 190px;
  height: 48px;
  border: none;
  border-radius: .5rem;
  background-color: #3e5e3f;
  color: #FFF;
}

.header_premium button:hover {
  background-color: #597d5a;
}

.advantage {
  margin-top: 1rem;
  margin-bottom: .5rem;
  padding-left: 3rem;
  font-weight: 600;
}

.type_advantage {
  font-size: .9rem;
  padding-left: 1.5rem;
  margin-top: 0rem;
  margin-bottom: .5rem;
}

.type_advantage_premium {
  font-size: .9rem;
  padding-left: 1.5rem;
  margin-top: 0rem;
  margin-bottom: .8rem;
}

.check {
  width: 16px;
  margin-right: .5rem;
}

.no_type_advantage {
  font-size: .9rem;
  padding-left: 3rem;
  text-decoration: line-through;
  color: rgb(176, 176, 176);
  margin-bottom: .5rem;
}

.times {
  color: #3e5e3f;
  font-size: 1rem;
  margin-bottom: -12px;
  margin-right: 90px;
}

.price {
  color: #3e5e3f;
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}

.cents {
  font-size: 1.5rem;
}

.details_free {
  text-align: center;
  background: linear-gradient(93deg, rgba(244,244,244,1) 50%, rgba(255,255,255,1) 100%);
  padding: .6rem 4rem;
  line-height: 1.2;
  font-size: .9rem;
}

.details_premium {
  text-align: center;
  background: linear-gradient(93deg, rgba(234,247,235,1) 0%, rgba(255,255,255,1) 100%);
  padding: .7rem 2rem;
  line-height: 1.2;
  font-size: .9rem;
}

.tooltip {
  margin-left: .5rem;
}

@media(min-width: 320px) and (max-width: 759px) {
  .container_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 4rem 0;
  }
  .container {
    gap: 2rem;
  }
  .container_free,
  .container_premium_anual {
    width: 320px;
    height: 780px;
  }
  .container_premium_trimestral {
    width: 340px;
  }
} 