.container {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;
  font-weight: 500;
  font-size: 2rem;
}

.title_premium {
  text-align: center;
}

.container_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.container_buttons button {
  width: 120px;
  background-color: gray;
  color: #fff;
  border-radius: .5rem;
  border: none;
  padding: .8rem 1rem;
}

.container_buttons button:hover {
  background-color: #979090;
}

.active {
  width: 120px;
  background-color: #3e5e3f !important;
  color: #fff;
  border-radius: .5rem;
  border: none;
  padding: .8rem 1rem;
}

.active:hover {
  background-color: #597d5a !important;
}

.comparison_table {
  table-layout: fixed;
  width: 93%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.75rem;
}

.comparison_table th,
.comparison_table td {
  padding: 0.5rem;
}

.comparison_table th:first-child {
  border: 0;
}

.comparison_table th:nth-child(2n) {
  box-shadow: 0 0 2rem hsla(0, 0%, 0%, 0.15);
}

.comparison_table th:nth-child(2n),
.comparison_table td:nth-child(2n) {
  position: relative;
  background: #fff;
  text-align: center;
}

.comparison_table td:not(:first-child) {
  text-align: center;
}

.comparison_table thead,
.comparison_table thead span {
  font-size: 1.2rem;
}

.check,
.no_check {
  width: 1rem;
}

.detail_right {
  border-right: 1px solid #ddd;
}

.detail_bottom {
  border-bottom: 1px solid #ddd;

}

.free {
  font-size: 1.5rem;
  font-weight: 600;
  color: green;
}

.installments,
.dollar {
  font-weight: 600;
  color: green;
  margin-left: .6rem;
}

.price {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.align {
  text-align: left !important;
}

.free_title,
.premium {
  font-size: 1rem;
  font-weight: 600;
  color: #3e5e3f;
}

.container_button_free {
  display: flex;
  justify-content: center;
  margin-top: 2.1rem;
}

.container_buttons button {
  width: 120px;
  background-color: #c6c0c0;
  color: #fff;
  border-radius: .5rem;
  border: none;
  padding: .8rem 1rem;
}

.container_button_free button:hover {
  background-color: #a39a9a;
}

.container_button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.container_button button {
  font-size: .6rem;
  border: none;
  background-color: #3e5e3f;
  color: #FFFFFF;
  padding: 1rem .9rem;
  border-radius: .5rem;
}

.container_button button:hover {
  background-color: #597d5a;
}

@media(min-width: 759px) and (max-width: 1119px) {
  .comparison_table {
    table-layout: fixed;
    width: 93%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.75rem;
    margin-left: 1.5rem;
  }
  .title_premium {
    text-align: center;
  }
  .align {
    text-align: center !important;
  }
  .comparison_table th:nth-child(2n),
  .comparison_table td:nth-child(2n) {
    background: none !important;
  }
}

@media(min-width: 1200px) {
  .comparison_table {
    table-layout: fixed;
    width: 1000px;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.75rem;
    margin-left: 2rem;
  }
  .title_premium {
    text-align: center;
  }
  .align {
    text-align: center !important;
  }
  td {
    font-size: 1rem;
  }
  .container_button_free button,
  .container_button button {
    font-size: 1rem;
  }
}