.title {
  text-align: center;
  font-size: 2rem;
  margin-top: 6rem;
}

.container_premium {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 6rem;
}

.content_premium {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 4rem;
}

.content_premium h2 {
  font-size: 1.2rem;
}

.content_premium p {
  width: 370px;
}

.container {
  cursor: pointer;
}

.bg {
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 300px;
  height: 400px;
  border-radius: 5px;
}

.container_content {
  display: flex;
}

.detail {
  height: 50px;
  width: 7px;
  background-color: green;
  margin-right: 1rem;
  border-radius: .5rem;
}

@media(min-width: 760px) {
  .container_premium {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 7rem;
    margin-left: 1rem;
  }
}