.container_reference {
  height: 250px;
  background-color: rgba(234,247,235,1);
  margin-top: 6rem;
}

.title {
  text-align: center;
  padding: 2rem 3rem;
  font-weight: bold;
}

.refence_info {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-left: 3rem;
}

.reference {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  width: 150px;
  height: 70px;
  border-radius: .5rem;
}

.reference img {
  width: 80px;
}

.wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-padding: 0 20%;
}

@media(min-width: 360px) and (max-width: 759px){
  .title {
    padding: 2rem 12rem;
    font-weight: 600;
    font-size: 2rem;
  }
  .container_reference {
    margin: 6rem 20rem;
    border-radius: .5rem;
  }
  .wrapper {
    justify-content: center;
  }
  .refence_info {
    margin-left: 0px;
  }
}

@media(min-width: 760px) and (max-width:1199px){
  .refence_info {
    margin-left: 4rem;
  }
}

@media(min-width: 1200px) {
  .container_reference {
    height: 250px;
    background-color: rgba(234,247,235,1);
    margin-top: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  .refence_info {
    margin-left: 0px;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}